<link href="public/style.css" rel="stylesheet">
<link href="public/login_style.css" rel="stylesheet">
<div>
    <body>
        <h1>회원가입</h1>
        <form action="/signin" method="post" id="login-form">
            <p>
                <label>이름 : </label><input
                type="text"
                name="reg_name"
                id="login-input"
                required>
            </p>
            <p>
                <label>ID : </label><input
                type="text"
                name="reg_id"
                id="login-input"
                required>
            </p>
            <p>
                <label>PW : </label><input 
                type="text"
                name="reg_pw"
                id="login-input"
                required>
            </p>
            <button>회원가입</button>
        </form>
        </form>
    </body>
</div>