<link href="public/style.css" rel="stylesheet">
<link href="public/login_style.css" rel="stylesheet">
<body>
    <div>
        <h1>회원가입</h1>
        <form action="/signin" method="post" id="login-form">
            <p>
                이름 <input
                type="text"
                name="reg_name"
                id="login-input"
                required>
            </p>
            <p>
                ID <input
                type="text"
                name="reg_id"
                id="login-input"
                required>
            </p>
            <p>
                PW <input 
                type="password"
                name="reg_pw"
                id="login-input"
                required>
            </p>
            <br>
            <button id="btn">회원가입</button>
        </form>
    </div>
</body>