body{
    background-image: url('/public/images/todo-bg.jpg');
    background-size: 1200px;
    background-color: rgb(252, 255, 221);
}

h1{
    margin-left: 20px;
    margin-top: 60px;
    padding-top: 30px;
    text-align: left;
    font-size: 50px;
}

div{
    background-color: rgba(255, 255, 255, 0.768);
    width: 800px;
    height: 600px;
    margin-left: 580px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0 ,0.25); 
    border-radius: 10px;
}

#welcome-txt{
    color: white;
}

#todo-form{
    margin-left: 360px;
    width: 308px;
    font-size: 15px;
}

#todo-ul{
    margin-top: 20px;
    margin-left: 60px;
    width: 600px;
    height: 400px;
    overflow: auto;
}

#todo-li{
    font-size: 20px;
    display: inline-block;
    width: 80%;
}

#todo-li2{
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 80%;
}

#todo-input{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.59);
    width: 400px;
    height: 40px;
    bottom: 5%;
    margin-bottom: 20px;
    border-width: 0 0 1px;
}